{% extends 'OCPlatformBundle::layout.html.twig' %}

   {% block title %}  - Index {% endblock %}
       {% block body %}
           <h3>La liste des annonces </h3>
           {% for advert in adverts %}
               {%  if(advert.image is not null )   %}
                   <h4>Le titre </h4>
                   <p>{{ advert.title }}</p>
                   <h4>Description :</h4>

                   <a href="{{ path('oc_platform_view', {'id': advert.id} ) }}">
                       <p>{{ advert.content| slice(0 , 30) ~ '...'    }}</p>
                   </a>
                {% endif %}
            {%  endfor %}
       {% endblock %}
    {% block stylesheets %}{% endblock %}


